<nav class="bg-blue-700 text-white w-64 p-4 h-full hidden lg:block">
    <ul>
        <li><a routerLink="/dashboard" class="block py-2 px-4 hover:bg-blue-800 rounded cursor-pointer">Dashboard</a>
        </li>
        <li> <a routerLink="dashboard/users" class="block py-2 px-4 hover:bg-blue-800 rounded cursor-pointer">Manage
                Users</a></li>
        <li><a href="#" class="block py-2 px-4 hover:bg-blue-800 rounded  cursor-pointer">Settings</a></li>
        <li><a href="#" class="block py-2 px-4 hover:bg-blue-800 rounded  cursor-pointer">Profile</a></li>
    </ul>
</nav>